/MC Infinito 1.15.2/.svn
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/asm
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/assets
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/enderio
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/journeymap
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/libraries
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/local
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/logs
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/minecraft launcher
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/resourcepacks
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/saves
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/shaderpacks
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/versions
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/launcher_profiles.json
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/OpenComputersMod-1.6.2.7-lua52-native.64.dll
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/OpenComputersMod-1.6.2.7-lua53-native.64.dll
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/servers.dat
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/usercache.json
/Com Gu Se Fez, Com Gu Se Paga/data/.minecraft/usernamecache.json
